<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>HideO - A Steganography Tool</title>
    <style>
      .file, .file1 {
        visibility: hidden;
        position: absolute;
      }
      html, body {
        max-width: 100%;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body class="">

    


    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo1.png') }}" width="" height="50" alt="">
          </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-light" id="navbarCollapse">
            <ul class="navbar-nav ml-auto mx-3">
                <li class="nav-item px-2">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <a class="btn btn-dark" href="/logout" role="button">Log Out</a>
          </div>
        </nav>

        <div class="jumbotron my-5 container-fluid">
            <h1 class="display-4">Hello <b>{{name}}</b>!</h1>
            <p class="lead">This is the secret image and the stego image!</p>
          </div>
        
    

        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
                <img src="" alt="stego image">
                <figcaption class="figure-caption text-center">Stego Image</figcaption>
            </div>
            <div class="col-12 col-md-4 offset-2">
                <img src="" alt="secret image">
                <figcaption class="figure-caption text-center">Secret Image</figcaption>
            </div>
          </div>
  
          
        </div>

        <br><br><br>
        

   
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/imgpreview.js') }}"></script>
  </body>
</html>